@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cosi Azure";
  src: url('./assets/fonts/CosiAzure-Bold.ttf');
}

:root {
  --color-dark: #050505;
  --color-light: #f7f7f7;
}

::selection {
  background-color: #06b6d4;
  color: var(--color-dark);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
}

::-webkit-scrollbar-track {
  background-color: #a1a1aa;
  border-radius: 20px;
}

*,
*::before,
*::after {
  cursor: none;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: "Michroma", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.6;
  word-spacing: 3px;
}

.app {
  position: relative;
}

.noise {
  background-image: url('./assets/images/noise.gif');
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
  opacity: 0.07;
}

/* NAVBAR */
.link-item {
  position: relative;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: var(--color-light);
  width: 0%;
  height: 1px;
  bottom: -3px;
  left: 0;
  transition: 0.2s;
}

.link-item:hover::after {
  width: 100%;
}

/* Hero Section */
.hero {
  position: relative;
}

.hero-img,
.project-right-img,
.about-left-img {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.shutter {
  position: absolute;
  z-index: 100;
  font-family: "Cosi azure", sans-serif;
  font-size: 10rem;
  mix-blend-mode: difference;
}

.shutter-left {
  top: 0;
  left: 0;
}

.shutter-right {
  bottom: 0;
  right: 0;
}

.circle-left,
.circle-right {
  height: 1000px;
  width: 1000px;
  border: 1px dashed var(--color-light);
  border-radius: 50%;
  position: fixed;
  z-index: -998;
  opacity: 0.2;
  animation: spin 90s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.circle-left {
  top: -40%;
  left: -20%;
}

.circle-right {
  bottom: -40%;
  right: -20%;
}

/* Projects Section */
.section-title {
  font-family: "Cosi azure", sans-serif;
  font-size: 10rem;
  line-height: 1;
}

/* Skills Section */
.skill-item {
  position: relative;
}

.skill-item::before,
.skill-item:after {
  position: absolute;
  content: '';
  height: 1px;
  left: 0;
  bottom: 0;
}

.skill-item::before {
  background-color: var(--color-light);
  opacity: 0.3;
  width: 0;
  transition: 0.5s;
}

.skill-item.reveal::before {
  width: 100%;
}

.skill-item:after {
  width: 0%;
  transition: 0.4s;
}

.skill-item:hover::after {
  background-color: #06b6d4;
  width: 100%;
}

.skill-id {
  font-size: 5rem;
}

/* About Section */
.about-btn,
.contact-btn {
  letter-spacing: inherit;
  word-spacing: inherit;
}

/* Contact Section */

/* Socials */

/* Custom Cursor */
.inner-cursor {
  position: fixed;
  background-color: var(--color-light);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
  z-index: 999;
  mix-blend-mode: difference;
}

.inner-cursor.grow {
  width: 18px;
  height: 18px;
}

.outer-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  left: 0;
  border: 1px solid var(--color-light);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  z-index: 999;
}

/* Media Query */
@media screen and (max-width:1280px) {

  .App {
    padding: 0 6rem;
  }

  .hero-img,
  .project-right-img,
  .about-left-img {
    height: 350px;
    width: 350px;
  }

  .shutter {
    font-size: 7rem;
  }

  .socials {
    font-size: 0.7rem;
    gap: 1rem;
    padding: 5px 8px;
    top: 85%;
  }
}

@media screen and (max-width:1024px) {

  .App {
    padding: 0 6rem;
  }

  /* .hero-img,
  .project-right-img,
  .about-left-img {
    height: 300px;
    width: 300px;
  } */

  .shutter {
    font-size: 4rem;
  }

  .section-title {
    font-size: 5rem;
  }

  .project {
    display: flex;
    flex-direction: column-reverse;
  }

  .project-right {
    align-self: center;
  }

  .about-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-left {
    justify-self: center;
  }

  .form {
    grid-template-columns: repeat(1, 1fr);
  }

  .socials {
    transform: rotate(0);
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}